* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.carta {
  height: 150px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  text-align: center;
}

img {
  transition: ease-in-out 0.15s;
}

#header {
  font-size: 2rem;
}

img {
  height: 150px;
  width: 100px;
}